<header>
  <img  [routerLink]="['/']" src="https://i.ibb.co/5WqPzMWd/Naamlooasdasddsas.png">
  <ul>
    @if (!(authService.isLoggedIn$ | async)) {
      <li [routerLink]="['/login']">Login</li>
    }
    @if (!(authService.isLoggedIn$ | async)) {
      <li [routerLink]="['/register']">Register</li>
    }
    @if ((authService.isAdmin$ | async)) {
      <li [routerLink]="['/admin']">Admin paneel</li>
    }
    @if ((authService.isLoggedIn$ | async)) {
      <li [routerLink]="['/credit']">Koop credit</li>
    }
    @if ((authService.isLoggedIn$ | async)) {
      <li [routerLink]="['/profile']">Profile</li>
    }
    @if ((authService.isLoggedIn$ | async)) {
      <li (click)="authService.logout()">Logout</li>
    }

  </ul>
</header>
