<body>
  <form class="Url-shortener" (ngSubmit)="shortenURL()">
    <h1>URL shortener</h1>
    <h2>Verkort hier uw URLS gemakkelijk, voer een URL in en een datum en verkort de URL zodat het overal past.</h2>
    <input type="text" placeholder="Voer hier uw URL in" [(ngModel)]="inputURL" name="url" pattern="https://.*" required>
    <input *ngIf="!(authService.isAdmin$ | async)" type="date" [(ngModel)]="expiryDate" name="expiryDate" [max]="inamonth" [min]="tomorrow">
    <input *ngIf="(authService.isAdmin$ | async)" type="date" [(ngModel)]="expiryDate" name="expiryDate" [min]="tomorrow"> *datum is optioneel
    <button type="submit">Shorten</button>
    <p>{{newURLString}}</p>
    <qrcode *ngIf="urlCode" [qrdata]="urlCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
    <p *ngIf="urlCode">Share with your friends!</p>
    <p class="ErrorMessage">{{Error}}</p>
  </form>
</body>
